doctype html
html
  head
    title Éxito
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")  
    link(rel='stylesheet' href='/css/style.css')
  body
    .success-container
      .success-card
        i(class="fas fa-check-circle success-icon")
        h1.text-success ¡Login Exitoso!
        p Bienvenido a tu dashboard. Te has autenticado correctamente.
        p Tu correo es #{usuario.correo} <!-- Aquí muestra el correo -->
        p Haz clic en el botón de abajo para continuar. 
        a.btn.btn-dashboard(href="/dashboard") Ir a Dashboard
