doctype html
html
    head
        title Iniciar Sesi칩n
    body
        h1 Iniciar Sesi칩n
        form(action="/auth/login", method="post")
            div
                label(for="correo") Correo:
                input(type="email" name="correo" required)
            div
                label(for="pass") Contrase침a:
                input(type="password" name="pass" required)
            button(type="submit") Iniciar Sesi칩n
