doctype html
html
  head
    title Dashboard
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel='stylesheet', href='/css/style.css')
    // Bootstrap CSS
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    // FontAwesome CDN
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")
   
  body
    // Navbar
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
      a.navbar-brand(href="#") Mi Sitio
      button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
      .collapse.navbar-collapse#navbarNav
        ul.navbar-nav.ml-auto
          li.nav-item.active
            a.nav-link(href="#") Bienvenido: #{usuario.correo}
          li.nav-item
            a.nav-link(href="/logout") Cerrar Sesión

    #wrapper
      // Sidebar
      div#sidebar-wrapper.bg-dark
        ul.nav.flex-column
          li.nav-item
            a.nav-link.text-white(href="dashboard") 
              i.fas.fa-tachometer-alt.mr-2
              |  Dashboard
          li.nav-item
            a.nav-link.text-white(href="/productos") 
              i.fas.fa-box.mr-2
              |  Productos
          li.nav-item
            a.nav-link.text-white(href="/categorias") 
              i.fas.fa-list.mr-2
              |  Categorías
          li.nav-item
            a.nav-link.text-white(href="/usuarios") 
              i.fas.fa-users.mr-2
              |  Usuarios
          li.nav-item
            a.nav-link.text-red(href="/logout") 
              i.fas.fa-right-from-bracket.mr-2
              |  Cerrar Sesión
          // Agrega más enlaces según sea necesario

      // Contenido de la página
      div#page-content-wrapper
        .container-fluid
          .row.justify-content-center
            .col-lg-8.col-md-10.col-sm-12
              h1.mt-5.text-center Dashboard

              // Imagen centrada y responsiva
              div.text-center
                img(src="/img/dashdos.jpg" alt="Dashboard Image" class="img-fluid" style="max-width: 100%; height: auto;")
                img(src="/img/dash.jpg" alt="Dashboard Image" class="img-fluid" style="max-width: 100%; height: auto;")

    // Botón de menú
    button#menu-toggle.menu-toggle
      i.fas.fa-bars

    // Scripts
    script(src="https://code.jquery.com/jquery-3.5.1.min.js")
    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
    script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11")
    
    // Sidebar toggle script
    script.
      document.getElementById("menu-toggle").addEventListener("click", function() {
        document.getElementById("wrapper").classList.toggle("toggled");
      });
