doctype html
html
  head
    title Confirmar Transacci칩n
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
  body(class="container mt-5")
    
    div(class="alert alert-success text-center")
      h2 Detalles de la transacci칩n.
    
    if commitResponse
      p Estado: #{commitResponse.status}
      p Orden de Compra: #{commitResponse.buy_order}
      p Session ID: #{commitResponse.session_id}
      p Monto: $#{commitResponse.amount}
    else
      p No se pudo confirmar la transacci칩n.
    
    div(class="text-center mt-4")
      a(href="/" class="btn btn-primary") Volver a la P치gina Principal
