doctype html
html
  head
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
    // FontAwesome CDN
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")
    title #{titulo}
  body
    h1 #{titulo}
    p Este es el contenido principal de tu tienda.

    // Botón para ir al formulario de registro de usuario
    a(href="/usuarios" class="btn btn-primary") Registrar nuevo usuario

    // Botón para ir al formulario de registro de usuario
    a(href="/registro" class="btn btn-primary") login register 