doctype html
html
  head
    title Usuarios
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
  body
    .container
      h1.mt-5 Lista de Usuarios
      
      // Tabla de usuarios con Bootstrap
      table.table.table-striped.mt-4
        thead
          tr
            th Nombre
            th Rut
             th Correo
            th Rol
        tbody
          each usuario in usuarios
            tr
              td #{usuario.nombre}
              td #{usuario.rut}
              td #{usuario.correo}
              td #{usuario.rol}
              
      h2.mt-5 Crear un nuevo usuario
      form(action="/categorias" method="POST" class="mt-3")
        .form-group
          label(for="nombre") Nombre:
          input.form-control(type="text" name="nombre" required)

        .form-group
          label(for="descripcion") Descripción:
          input.form-control(type="text" name="descripcion" required)
        
        button.btn.btn-primary(type="submit") Crear Usuario

    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
